/* Body */
  body {
     background-color:#edf0dd;
  }
 

/* Heads */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Merriweather', serif;
  weight: 700;
  color: #000000;
  text-align:center;
}
h1 {
  font-size:48px;
}
h3 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  margin-bottom: -10px;
}
/* body text */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Lato', sans-serif;
  weight: 400;
  color: #000000;
  color:#1a62c2;
  text-align: center;
}

/* quote   */
quote {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
/* lists   */
ul {

}

li {

}

/* hyperlinks */
a {
  
}

/* classes */

/* IDs     */
